.notificationSuccess {
    color: var(--clr-success) !important;
}

.notificationError {
    color: var(--clr-danger) !important;
}

.notificationStyle {
    width: "580px" !important;
    height: "50px" !important;
}
