.container {
  width: 100% !important;
  height: 100% !important;
  padding-left: 50px;
  padding-right: 50px;
}

.loginImage {
  width: 70%;
  height: 70%;
}
.box {
  width: 30%;
  height: 30%;
}
.from {
  width: 80%;
  height: 80%;
}
.buttom {
  background-color: var(--clr-background-red) !important;
  width: 100%;
  color: var(--clr-color-white);
}
